<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>

    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: center;
    }
    </style>
</head>
<body>
<h1>User Activity</h1>

<h2><a href="/">Home</a></h2>

<form method="POST">

<table style="width:100%">
    <tr>
        <th>Date/ Time</th>
        <th>Activity</th>
    </tr>

    {{range .}}
    <tr>
        <td>{{.Time}}</td>
        <td>{{.Activity}}</td>
    </tr>
    {{end}}
</table>
</form>

</body>
</html>